[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
werkzeug = "*"
dnspython = "*"
certifi = "*"
gunicorn = "*"
python-dotenv = "*"
flask-cors = "*"
requests = "*"
pyjwt = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
start = "gunicorn api:app"
dev = "bash -c \"export FLASK_ENV='development' && flask run --host=0.0.0.0\""
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."
