[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
werkzeug = "*"
dnspython = "*"
certifi = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "flask run"
start = "gunicorn listings:app"
